<h1><%= Diary %></h1>
<h3><%= @diary.name %></h3>

<% if notice %>
  <p><%= notice %></p> 
<% end %>

<table class="entries" border='1'>
  <tr>
    <th>Project</th>
    <th>Day</th>
    <th>Hours</th>
    <% if is_current_diary %>
      <th>Delete</th>
    <% end %>
  </tr>
  <% @diary.entries.each do |e| %>
  <tr>
    <td><%= e.project.name %></td>
    <td><%= e.day %></td>
    <td><%= e.hours %></td>
    <% if is_current_diary %>
      <td><%= link_to "DELETE",  entry_path(e), method: 'delete' %></td>
    <% end %>
  </tr>
  <% end %>
  
</table>

<p>Total Hours: <strong><div id='hours'><%= @diary.hours %></div></strong> </p>

<% if is_current_diary %>
  <%= button_to 'Submit Diary', submit_path %>
  
  <h4>Quick Add Entry From Existing Project:</h4>
  
  <%= form_for @entry, url: diary_entries_path(@diary) do |f|%>

    <%= f.hidden_field :diary_id, value: @diary.id %>
    <%= f.label :day %>
    <%= f.select :day, Entry.days.keys %><br>

    <%= f.label :project %>
      Existing: <%= f.collection_select :project_id, Project.all, :id, :name, {:include_blank => "Please select"} %><br>
   
    <%= f.fields_for :project, @project do |proj| %> or New (name):<%= proj.text_field :name %><br/>
    <% end %><br>

    <%= f.label :minutes %>
    <%= f.number_field :minutes, min: 1 %><br>
    <%= f.submit "Submit Entry" %>
  <% end %>

<% else %>
  
<% if !current_user.admin %>
  <h4>This diary has already been submitted</h4>
    <%= button_to 'Go to Current Diary', diary_path(current_diary), method: 'get' %>
  <% end %>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function () {
   bindForm();
  });
</script>
